* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,700&display=swap');

/*AJUSTES GENERALES*/
a:link {
    color: #d2d5e1;
  }
a:visited {
    color: #d2d5e1;
  }
a:active {
    color: #d2d5e1;
  }
   
a {
    text-decoration: none;
  }
   
ul {
    list-style-type: none;
  }

body {
  background-color: #312C5C;
}

.body-home {
    background-color: #212042;
    min-height: 100vh;
    .body-home::-webkit-scrollbar {
      width: 7px;
    }
    .body-home::-webkit-scrollbar-thumb {
      background: #212042;
      border-radius: 5px;
    }
  }


  /*------------------------------------------Mains------------------------------------------------*/
  main {
    background-color: #212042;
  }

/*Variable: colores*/
$bg-color:#212042;

.main-index {
  background: $bg-color;
}

.h1-index {
  display: inline-block;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}
  
  
  