/*Mediaq*/
@media screen and (max-width: 360px) {
    .cartita {
        display: none;
    }

    .mapas {
        display: none;
    }
    .redes-header {
        display: none;
    }

    .debajo-footer {
        display: none;
    }

    .logo-debajo-footer {
        visibility: hidden;
    }

    .r-header .sesion {
        display: none;
    }

   .section-menu {
        display: none;
    }

    .productos-destacados {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .productos-destacados {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .product-mobile {
        display: none;
    }
    .header-mobile {
        display: none;
    }
}


@media screen and (max-width: 740px) {
    .r-header .sesion {
        display: none;
    }
    
   .section-menu {
        display: none;
    }
    
    .header-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 35%;
        }
    }
    .header-media {
        display: none;
    }
}


@media screen and (max-width: 820px) {
    .cartita {
        display: none;
    }

    .mapas {
        display: none;
    }

    .redes-header {
        display: none;
    }

    .debajo-footer {
        display: none;
    }
    .sesion {
        display: none;
    }
    
}

@media screen and (orientation: landscape) {}