.body-carrito {
  background-color: #fff;
}
.main-carrito {
    background-color: #fff;
}


.h2-carrito {
  color: #000;
  padding-top: 5rem;
  @extend %flexbox;
}

.trabajando {
  @extend %flexbox;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.h3-carrito {
  @extend %flexbox;
  padding-bottom: 5rem;
  gap: 0.5rem;
}