.body-carrito {
    background-color: #d2d5e1;
    .menú-container-2 {
        padding-top: 3rem;
      }
      .h2-carrito {
        font-family: 'Oswald', sans-serif;
        font-style: italic;
        line-height: 3rem;
      }
      .carrito-carrusel-1 {
        display: flex;
        justify-content: center;
        bottom: 42rem;
      }
      .h3-producto {
        font-family: 'Poppins', sans-serif;
      }
      .hr-carrusel-1 {
        height: 2px;
        background-color: #000000;
      }
      .img-carrito-1 {
        width: 70%;
      }
      .carrito-carrusel-2 {
        display: flex;
        justify-content: center;
        bottom: 32rem;
        left: 12rem;
      }
      .hr-carrusel-2 {
        height: 2px;
        background-color: #000000;
      }     
  }
  