/*Soporte*/
.ul-soporte {
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: xx-large;
    left: 10rem;
    text-decoration: none;
    list-style: none;
    font-style: italic;
    color: #FFFFFF;
    background-color: #212042;
    margin: 3rem 250px;
    padding: 0.5rem;
    bottom: 45rem;
    line-height: 10rem;
  }
  