.body-soporte {
    background-color: #212042;
  }
  .main-sop {
    background-color: #fff;
  }

/*---------------------------------------------------*/

$primary-color: #ed1c2e;
$header-bg: #fff;
$header-color: #333;
$header-padding: 20px;
$radio-size: 15px;
$content-bg: #fff;
$content-color: #333;
$collapse-icon-size: 1.2em;
$collapse-icon-color: $primary-color;
$border-color: #dddddd;

.menu-sop {
  @include flexbox(flex, center, center);
}

.accordion {
  max-width: 860px;
  margin: 20px;
  @extend %flexbox;
  flex-direction: column;
}

.h2-sop {
  color: #000;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

.hr-sop {
  width: 15rem;
  margin: auto;
  color: #ed1c2e;
  padding: 0.1rem;
}

/*------------menú accordion de:https://codepen.io/EnesSefaK/pen/mEjPyG--------------*/
.accordion {
  border: 1px solid #dddddd;

  &__header {
    width: 100%;
    background-color: $header-bg;
    color: $header-color;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    cursor: s-resize;
    position: relative;
    padding: $header-padding;
    border-top: 1px solid $border-color;

    &:after {
      display: none;
      content: "+";
      transform-origin: center;
      font-size: $collapse-icon-size;
      color: $collapse-icon-color;
      margin-right: 0;
      margin-left: auto;
      transition: transform 200ms ease-out;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;

    &:hover {
      .accordion__header {
        color: $primary-color;
      }
    }

    &:first-child {
      .accordion__header {
        border-top: none;
      }
    }
  }

  &__content {
    padding: 0px 20px;
    height: 0px;
    background-color: $content-bg;
    color: $content-color;
    overflow: hidden;
    transition: padding 200ms ease-in-out;
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    top: $radio-size;
    right: $radio-size;
    width: $radio-size;
    height: $radio-size;
    border: 0px;
    z-index: 999;

    &[hidden="hidden"] {
      top: -100%;

      + .accordion__header {
        &:after {
          display: block;
        }
      }
    }

    &:focus {
      outline: none;
    }

    &:checked {
      ~ .accordion__content {
        padding: 0px 20px 20px 20px;
        height: auto;
      }

      + .accordion__header {
        color: $primary-color;

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}


/*------------------NEWSLETTER-----------------------*/

.section-new {
  margin-left: 3rem;
  margin-right: 3rem;
}

.newsletter-card  {max-width:550px; margin:50px auto;
  background-color: #0E0C38;
}

.btn-new{
  background-color: #ed1c2e;
  border-radius: 0.5rem;
  
}

.btn:focus{
  outline: none;
  box-shadow: none;
}

*:focus{
  outline: none;
}



/*------------------FORMULARIO SOPORTE https://codepen.io/ZachSaucier/pen/jOwNvO---------------------*/
.form-soporte { max-width:550px; margin:50px auto; }

.sec-sop {
  margin-left: 3rem;
  margin-right: 3rem;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #ed1c2e;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #ed1c2e; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#ed1c2e;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }